@page "/fetchalbumdata"
@using CleanArchitecture.Blazor.Interfaces
@using System.Net.Http.Json
@using CleanArchitecture.Blazor.Models
@inject IAlbumService albumService

<PageTitle>Album Data</PageTitle>

<h1>Albums</h1>

<p>Component demonstrates fetching data using Clean Architecture approach.</p>

@if (albums == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Album Id</th>
                <th>Album Name</th>
                <th>Artist ID</th>
                <th>ReleaseDate</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var album in albums)
            {
                <tr>                    
                    <td>@album.AlbumId</td>
                    <td>@album.AlbumName</td>
                    <td>@album.ArtistId</td>
                    <td>@album.ReleaseDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<AlbumDTO>? albums { get; set; }

    protected override async Task OnInitializedAsync()
    {
        albums = await albumService.GetAlbums();
    }
}
